// Sizes
$avatar-size: {{ .Param "style.avatarSize" | default "90px;" }};

// Colors
$black: {{ .Param "style.colorBlack" | default "#222222" }};
$red: {{ .Param "style.colorRed" | default "#dc3545" }};
$background: {{ .Param "style.colorBackground" | default "#0F0F0F" }};

// Font
$font-family-header: {{ .Param "style.fontFamilyHeader" | default "Ubuntu Mono" }};
$font-size: {{ .Param "style.fontSize" | default "14pt" }};

// Placeholders
%link-default {
    color: $red;
    text-decoration: none;
    & * {
        color: $red;
    }
    &:hover {
        color: $red;
        text-decoration: underline;
    }
}
%link-dark {
    color: $black;
    text-decoration: none;
    & * {
        color: $black;
    }
    &:hover {
        color: $black;
        text-decoration: underline;
    }
}
%table-cell {
    border: 1px solid #cccccc;
    padding: 6px 12px;
    text-align: left;
}

// Style
body {
    background-color: $background;    
}
.navbar-brand {
    @extend %link-dark;
    font-family: $font-family-header;
    font-size: 2rem;
}
#content {
    .avatar > img {
        border-radius: 25%;
        float: right;
        margin: -8px 0 0 16px;
        height: $avatar-size;
        width: $avatar-size;
    }
    table {
        & td {
            @extend %table-cell;
            font-size: medium;
        }
        & tr:nth-child(2n) {
            background-color: transparent;
        }
    }
    hr {
        border-top: 1px solid rgba($black, .1)
    }
}
#footer {
    .last-update {
        font-size: 11pt;

        & > a {
            @extend %link-default;
        }
    }
}

.form-control {
    background-color: transparent !important;
    border: 1px solid rgba($black, .25);
    color: $black !important;
    &:focus {
        border-color: $red;
        box-shadow: 0 0 0 0.2rem rgba($red, .25);
    }
}

.btn-dark {
    &:hover {
        background-color: darken($red, 10%);
        border-color: darken($red, 10%);
    }
}

// Medium Card
#content .medium-card {
    margin: 1.5em 0;
    max-width: 680px;

    a, a:hover {
        text-decoration: none !important;
        color: inherit !important;
        display: block;
    }

    a:hover .medium-card-inner {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
        border-color: lighten($background, 25%) !important;
    }

    .medium-card-inner {
        border: 1px solid lighten($background, 15%);
        border-radius: 4px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        background: lighten($background, 5%);
        transition: box-shadow 0.2s ease, border-color 0.2s ease;
    }

    .medium-card-image {
        flex-shrink: 0;
        width: 160px;
        display: flex;
        align-items: center;
        background: lighten($background, 3%);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin: 0;
        }
    }

    .medium-card-content {
        padding: 1em 1.25em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        min-width: 0;
    }

    .medium-card-title {
        font-weight: 700;
        font-size: 1.1em;
        line-height: 1.3;
        margin-bottom: 0.5em;
        color: $black !important;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .medium-card-description {
        font-size: 0.9em;
        color: darken($black, 10%) !important;
        line-height: 1.4;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 0.75em;
    }

    .medium-card-footer {
        display: flex;
        align-items: center;
        gap: 0.5em;
        font-size: 0.8em;
        color: darken($black, 25%) !important;

        span {
            color: darken($black, 25%) !important;
        }

        svg {
            fill: darken($black, 25%);
        }
    }
}