<article class="mb-4">
  <a
    class="article items-center flex text-neutral-800 dark:text-neutral"
    href="{{ .Params.externalUrl }}"
    target="_blank"
    rel="external"
  >
    <div
      class="article-icon text-3xl text-neutral-300 dark:text-neutral-700 mr-3"
    >
      <span class="relative inline-block align-text-bottom icon">
        {{ partial "icon.html" .Params.icon }}
      </span>
    </div>
    <div>
      <h3 class="flex items-center text-xl font-semibold">
        {{ $.Title | emojify }} {{ if and .Draft
        .Site.Params.article.showDraftLabel }}
        <div class="ltr:ml-2 rtl:mr-2">
          {{ partial "badge.html" (i18n "article.draft" | emojify) }}
        </div>
        {{ end }} {{ if templates.Exists "partials/extend-article-link.html" }}
        {{ partial "extend-article-link.html" . }} {{ end }}
      </h3>
      {{ if .Params.showSummary | default (.Site.Params.list.showSummary |
      default false) }}
      <div class="text-sm text-neutral-500 dark:text-neutral-500">
        {{ .Summary | emojify }}
      </div>
      {{ end }}
    </div>
  </a>
</article>
