{{- $key := .Get "key" | default (.Get 0) -}}
<div class="container form-container">
    <form method="POST" action="https://staticninja.com/api/form-submit/{{ $key }}">
        <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>